*{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

/* Primary items */

.praimary-button{
    color: #005FAC;
    font-size: 20px;
    font-weight: 600;
    padding: 10px;
    border: none;
    outline: none;
    border-radius: 5px;
}

.paragraph{
    font-size: 16px;
    font-weight: 400;
    line-height: 25px;
    margin: 20px 0px;
}
.header{
    background-color: aliceblue;
    background-image:url('./images/banner/banner3.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height:100vh;
    margin-bottom: 30px;
    color: white;
    position: relative;
}

.header-text{
    position: absolute;
    top: 150px;
    bottom: 50px;
    left: 52%;
    width: 500px;
    text-align: right;
    margin-right: 200px;
}

.header h1{
    /* text-align: right; */
    font-size: 60px;
    font-weight: 700;
    }

.about-section{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
}

.about-container{
    margin-left: 20px;
}

.about-text{
    margin-right: 50px;
    margin-left: 50px;
  
}

.about-img{
    max-height: 700px;
    max-width: 400px;
}
.about-text .about-header{
    color: #151414;
    font-size: 40px;
    font-weight: 700;
    max-width: 280px;

}

.about-text p{
    max-width: 400px;
}

.about-text .my-failors{
    list-style: none;
}

.failors-items i{
    color: #005FAC;
    width: 25px;
    height: 25px;
}
